:root {
  --primary-text-color: #303030;
  --secondary-text-color: #fff;
  --tetriary-text-color: #555;
  --primary-title-color: rgba(157, 164, 189, 0.6);
  --description-text: #9da4bd;
  --accent-color: #ff6c00;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

ul {
  padding-left: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: #c4c0c0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Section pre title */
.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
}

.pre-title::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background: currentColor;
}

/*Section title */
.title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: var(--primary-text-color);
}

/* List styles */
.list {
  list-style: none;
}

/* Link styles */
.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

/* Button styles */
.btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

/* Hide heading */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Header */

.header {
  padding-top: 32px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 130px;
  display: block;
}

.header-list {
  display: flex;
}

.header-item:not(:first-child) {
  margin-left: 30px;
}

.header-link {
  color: var(--secondary-text-color);
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.1em;
  font-size: 12px;
}

.contacts-wrap {
  margin-left: auto;
}

.header-contact {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  color: var(--secondary-text-color);
}

.header-btn {
  color: var(--secondary-text-color);
  margin-left: 40px;
}

/* Hero section */
.hero-container {
  display: flex;
}

.hero-social {
  width: 100px;
}

.social-item-link,
.footer-item-link {
  color: var(--primary-text-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.2em;
}

.hero-wrapper {
  padding: 272px 0 208px 100px;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url("../img/hero/slider-img-1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
}

.hero-pre-title {
  color: var(--primary-title-color);
  margin-bottom: 20px;
}

.hero-title {
  font-weight: 700;
  font-size: 72px;
  line-height: 1.2;
  color: var(--secondary-text-color);
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  max-width: 357px;
  color: var(--description-text);
}

/* About section */
.about {
  padding: 120px 0;
}

.about-wrapper {
  display: flex;
}

.about-list {
  display: flex;
}

.about-item:not(:first-child) {
  margin-left: 30px;
}

.desc-wrapper {
  padding-left: 30px;
  padding-right: 100px;
}

.about-pre-title {
  color: var(--primary-text-color);
  margin-bottom: 20px;
}

.about-title {
  color: var(--primary-text-color);
  margin-bottom: 20px;
}

.about-description {
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: var(--tetriary-text-color);
  margin-bottom: 20px;
}

.about-text {
  font-size: 14px;
  line-height: 1.9;
  letter-spacing: 0.02em;
  color: var(--tetriary-text-color);
  margin-bottom: 42px;
}

.about-btn {
  color: var(--primary-text-color);
}

/* Prices section */
.prices {
  max-width: 1920px;
  margin: 0 auto;
  background-image: url("../img/prices-img.png"),
    linear-gradient(#111319, #111319);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0;
}

.prices-pre-title {
  margin-bottom: 20px;
  color: var(--primary-title-color);
}

.prices-title {
  margin-bottom: 44px;
  color: var(--secondary-text-color);
}

.list-wrapper {
  display: flex;
  margin-bottom: 44px;
}

.prices-list {
  width: calc((100%-30px) / 2);
  padding: 30px 20px;
}

.prices-list:first-child {
  margin-right: 30px;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.prices-list:last-child {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.prices-item::after {
  content: "";
  height: 1px;
  flex-grow: 1;
  margin: 0 12px;
  background: rgba(157, 164, 189, 0.12);
}

.prices-item:not(:last-child) {
  margin-bottom: 30px;
}

.prices-item-text {
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: var(--description-text);
}

.prices-item-text:last-child {
  order: 1;
}

.prices-btn {
  color: var(--secondary-text-color);
}

/* Benefits section */
.benefits {
  padding: 120px 0;
}

.benefits-wrapper {
  display: flex;
}

.benefits-list {
  width: 50%;
  padding: 0 100px;
  display: flex;
  flex-wrap: wrap;
}

.benefits-item {
  width: 170px;
  height: 133px;
  padding: 20px 24px;
  outline: 1px solid black;
}

.benefits-item:nth-child(even) {
  margin-top: 30px;
}

.benefits-item:nth-child(odd) {
  margin-right: 30px;
}

.benefits-item span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.4;
  letter-spacing: 0.05em;
  color: var(--primary-text-color);
}

.benefits-item sup {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.8;
  color: var(--accent-color);
}

.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  color: var(--primary-text-color);
}

.benefits .desc-wrapper {
  padding-right: 70px;
  width: 50%;
}

.benefits-pre-title {
  color: var(--primary-text-color);
}

.benefits-title {
  color: var(--primary-text-color);
}

.benefits-description {
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: var(--tetriary-text-color);
}

/* Barbers section */

.barbers {
  padding: 120px 0;
}

.barbers-pre-title {
  margin-bottom: 20px;
}

.barbers-list {
  display: flex;
  flex-wrap: wrap;
}

.barbers-item {
  flex-basis: calc((100% - 60px) / 3);
}

.barbers-item:not(:first-child) {
  margin-left: 30px;
}

.barbers-title {
  margin-bottom: 45px;
}

.barbers-item-title {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.barbers-item-text {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.barbers-item-social {
  display: flex;
}

.social-item:not(:first-child) {
  margin-left: 10px;
}

.social-link {
  width: 44px;
  height: 44px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link:hover {
  background: grey;
}

.social-link:hover svg {
  fill: var(--accent-color);
}

/* Booking form section */
.booking-title {
  color: var(--secondary-text-color);
}

/* Contacts section */
.contacts-address {
  font-style: normal;
}

.contacts-title {
  color: var(--secondary-text-color);
}

.contacts-item {
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: var(--description-text);
}

.contacts-list li:first-child .contacts-item {
  font-weight: 700;
}

.contacts-list li:last-child .contacts-item {
  text-decoration: underline;
}

.contacts-pre-title {
  color: var(--secondary-text-color);
}

.contacts-time {
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: var(--description-text);
}

/* footer */
.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.2em;
  color: var(--description-text);
}
