:root {
  --primary-text-color: #303030;
  --secondary-text-color: #fff;
  --tetriary-text-color: #555;
  --primary-title-color: rgba(157, 164, 189, 0.6);
  --description-text: #9da4bd;
  --accent-color: #ff6c00;

  // Fonts
  --primary-font: "Verdana";
}
