.footer__logo {
  margin-right: 300px;
}

.footer__link {
  color: var(--tetriary-text-color);
}
.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.2em;
  color: var(--description-text);
}
